.header {
  display: flex;
  align-items: center;
  padding: 4.6rem 0 8rem;
  max-width: 144rem;
  margin: 0 auto;
}
.logo {
  height: 15rem;
  width: 25rem;
  display: block;
  margin: 0 auto;
  cursor: pointer;
}

.headerright{
  display: flex;
  list-style: none;
  font-weight: bold;
}
.headerright a {
  float: left;
  color: #6711AA;
  text-align: center;
  text-decoration: none;
  font-size: 18px; 
  /*line-height: 0px;*/
  margin: 70px;
}

.divMenuLink{
  padding: 8px 12px;
  border-radius: 4px;
}

.divMenuLink:hover {
  background-color: #6711AA;
  color: white;
  transition: .5s;
}

/* Tablet */
@media (min-width: 768px) {
  .header {
    padding: 7.2rem 0 10.4rem;
  }
  .logo {
    margin-left: 3.9rem;
  }
}

/* Desktop - Widescreen */
@media (min-width: 1440px) {
  .header {
    padding: 8.1rem 0 10.2rem;
  }
  .logo {
    margin-left: 16.5rem;
  }
}
